@import "../../assets/styles/vars.scss";
.project-card {
  position: relative;
  text-align: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  .image {
    position: relative;
    min-height: 253.552px;

    img {
      max-width: 100%;
      height: auto;
    }

    .title {
      font-weight: bolder;
      font-size: 22px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 8px 10px 10px 10px;
      border-radius: 10px;
    }
  }

  .desc {
    padding-top: 20px;
    font-size: 16px;
    color: $light-font-color;
  }

  &:hover {
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
    .title,
    .desc {
      color: $yellow-color;
    }
  }
}
.dark {
  .project-card {
    .desc {
      color: $dark-font-color;
    }
    &:hover {
      .title,
      .desc {
        color: $yellow-color;
      }
    }
  }
}
