@import "../../assets/styles/vars.scss";

.skeleton {
    .p-skeleton {
        min-height: 20vh;
        background-color: $dark-font-color;

        &:hover {
            cursor: progress;
        }
    }
}

.dark {
    .skeleton {
        .p-skeleton {
            background-color: $light-font-color;
        }
    }
}