@import "../../assets/styles/vars.scss";
.service-card {
  transition: 0.8s all ease;
  background-color: $light-color;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: $shadow-style;

  .title {
    font-size: 24px;
    font-weight: bold;
    color: $yellow-color;
    margin-bottom: 10px;
  }

  .desc {
    p {
      font-size: 16px;
      color: $secondary-color;
      line-height: 1.5;
      margin-bottom: 10px;
    }
  }
}
.dark {
  .service-card {
    background-color: $dark-color;
    border: 1px solid $dark-color;

    .title {
      color: $yellow-color;
    }

    .desc {
      p {
        color: $dark-font-color;
      }
    }
  }
}
