@import "../../assets/styles/vars.scss";

.navbar {
  color: $light-font-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    padding-bottom: 4px;
  }
  .brand {
    img {
      width: 100px;
      // padding-top: 10px;
      height: auto;
    }
    font-weight: bold;
    font-size: 18px;
    list-style-type: none;
    cursor: pointer;
    i {
      display: none;
    }
  }
  .items {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    .item {
      position: relative;
      display: inline-block;
      margin-right: 20px;
      font-size: 18px;
      cursor: pointer;
      overflow: hidden;
      padding: 10px;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 3px;
        background-color: $yellow-color;
        transition: width 0.3s ease;
        transform-origin: center;
      }
      &:hover::before:not(:first-child) {
        width: 100%;
      }
    }
    .visited {
      &::before {
        width: 100%;
      }
    }
  }
}

.dark {
  .navbar {
    color: $dark-font-color;
  }
}

@media screen and (max-width: $tablet-bp) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .items {
      padding: 15px;
      align-items: center;
      gap: 10px;
      .item {
        margin-right: 0;
        padding: 5px;
        font-size: 14px;
      }
    }
    border-bottom: 1px solid $dark-font-color;
    .brand {
      img {
        width: 90px;
      }
    }
  }
}

@media screen and (max-width: $mobile-bp) {
  .navbar {
    .items {
      gap: 0px;
      .item {
        margin-right: 0;
        padding: 5px;
        font-size: 14px;
      }
    }
  }
}
