@import "../../assets/styles/vars.scss";
.footer {
  // border-radius: 100px;
  border-top: 1px solid #e0e0e0;
  margin-top: 20px;
  color: $light-font-color;
  padding: 20px 0;
  text-align: center;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-logo {
    font-size: 24px;
    font-weight: bold;
  }

  .footer-social {
    display: flex;
    flex-direction: row;
    .social-icon {
      font-size: 24px;
      color: $light-font-color;
      margin: 0 10px;
      transition: color 0.3s ease;

      &:hover {
        color: $yellow-color;
      }
    }
  }

  .footer-text {
    margin-top: 20px;
    font-size: 14px;
  }
}

.dark {
  .footer {
    color: $dark-font-color;
    .footer-social {
      .social-icon {
        color: $dark-font-color;
        &:hover {
          color: $yellow-color;
        }
      }
    }
  }
}

// @media screen and (max-width: $tablet-bp) {
//   .footer {
//     .footer-social {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       gap: 10px;
//     }
//   }
// }
