$dark-font-color: #b5b5b5;
$light-font-color: #343a40;
$yellow-color: #ffbd39;

$dark-color: #343a40;
$secondary-color: #6c757d;
// $danger-color: #dc3545;
$light-color: #f8f9fa;

$dark-background: #111;
$light-background: white;


$mobile-bp: 480px;
$tablet-bp: 768px;
$laptop-bp: 960px;
$screen-bp: 1200px;

$shadow-style: 0 2px 4px rgba(19, 19, 19, 0.1);
